node_modules
.pnpm-store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.turbo
dist
.next
out
build
coverage

.DS_Store
*.swp
*.swo
*.swn
*.swm
Thumbs.db
.idea
.vscode

.git
.gitignore
.gitattributes

.env
.env.*.local
*.local

Dockerfile*
docker-compose*.yml

*.log
