POSTGRES_USER=sitehaus
POSTGRES_PASSWORD=supersecretpassword
POSTGRES_DB=sitehaus_db
DATABASE_URL=postgresql://sitehaus:supersecretpassword@db:5432/sitehaus_db

CADDY_EMAIL=email@domain.com

# Cookie Configuration
COOKIE_DOMAIN=.sitehaus.dev
COOKIE_SAME_SITE=none  # Options: 'strict', 'lax', 'none'. Use 'none' for cross-origin setups