sitehaus.dev {
	reverse_proxy web:3000
	tls sitehausdev@gmail.com
	encode gzip
}

dashboard.sitehaus.dev {
	reverse_proxy dashboard:3000
	tls sitehausdev@gmail.com
	encode gzip
}

iam.sitehaus.dev {
	reverse_proxy iam:3000
	tls sitehausdev@gmail.com
	encode gzip
}