NEXT_PUBLIC_API_URL=https://api.sitehaus.dev
NEXT_PUBLIC_IAM_URL=https://iam.sitehaus.dev
NEXT_PUBLIC_CLIENT_KEY=sitehaus-commerce-admin
NEXT_PUBLIC_COMMERCE_URL=https://api.staging.commerce.sitehaus.dev
NEXT_PUBLIC_STOREFRONT_BASE_URL=https://sitehaus.dev

SEED_CLIENT_ID=
